html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}

:root {
  --bg-color: #1b1b1b;
  --txt-color: #fffffe;
  --btn-color: #ff8906;
}

body {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: 1fr 3fr 1fr;
  width: 100vw;
  height: 100vh;
  font-family: "Nunito Sans", sans-serif;
  color: var(--txt-color);
  background-color: var(--bg-color);
}

/* Side Container */
.sideContainer {
  grid-column: 1/2;
  grid-row: 2/3;
  display: flex;
  flex-direction: column;
  justify-self: end;
}

/* Gameboard */
.gameBoard {
  width: 45rem;
  height: 45rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-column: 2/3;
  grid-row: 2/3;
  border: 1px var(--txt-color) solid;
  justify-self: center;
}

.boardSq {
  width: 15rem;
  height: 15rem;
  border: 1px var(--txt-color) solid;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10rem;
  cursor: pointer;
  transition: all 0.2s ease;
}

.sq:hover {
  background-color: var(--txt-color);
  color: var(--bg-color);
}

/* Winner Msg */
.winnerMsg {
  width: 45rem;
  height: 5rem;
  grid-column: 2/3;
  grid-row: 3/4;
  justify-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
}

.hidden {
  display: none;
}

.playerContainer > div > h1,
.playerContainer > div > div {
  font-size: 2rem;
}

/* Buttons */
button {
  font-size: 2rem;
  color: var(--txt-color);
  padding: 0.25rem 1rem;
  height: fit-content;
  width: fit-content;
  font-family: "Nunito Sans", sans-serif;
  background: transparent;
  outline: none;
  cursor: pointer;
  transition: all 0.5s ease;
  position: relative;
  display: inline-block;
  border: 1px solid var(--txt-color);
  z-index: 1;
}

button::after {
  position: absolute;
  content: "";
  width: 0;
  height: 100%;
  top: 0;
  right: 0;
  direction: rtl;
  z-index: -1;
  background: var(--txt-color);
  transition: all 0.5s ease;
}

button:hover {
  color: var(--bg-color);
}

button:hover::after {
  left: 0;
  right: auto;
  width: 100%;
}

button:active {
  top: 2px;
}
